<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aw.mapper.UserMapper">


    <resultMap id="BaseResultMap" type="com.aw.entity.User">
        <id property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="workNo" column="work_no"/>
        <result property="name" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="position" column="position"/>
        <result property="status" column="status"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <select id="selectUserPage" resultType="com.aw.vo.UserPageVO">
        SELECT
        u.id,u.work_no,u.name,u.nickname,u.mobile,u.email,u.avatar,u.position,u.status,t.name as dept_name
        FROM t_user u
        LEFT JOIN t_dept t on u.dept_id = t.id
        WHERE
        u.deleted = 0
        <if test="dto.name != null and dto.name != ''">
            AND name LIKE CONCAT('%', #{dto.name}, '%')
        </if>
        <if test="dto.deptId != null">
            AND dept_id = #{dto.deptId}
        </if>
        ORDER BY u.create_time DESC, u.id DESC
    </select>

    <select id="selectMenuByRoleId" resultType="com.aw.entity.Menu">
        SELECT
            m.id,
            m.parent_id,
            m.NAME,
            m.path,
            m.component,
            m.perms,
            m.type,
            m.icon,
            m.sort,
            m.visible
        FROM
            t_role r
                LEFT JOIN t_role_menu rm ON rm.role_id = r.id
                LEFT JOIN t_menu m ON m.id = rm.menu_id
        WHERE
            r.deleted = 0
          AND rm.deleted = 0
          AND r.id = #{roleId}
    </select>


</mapper>