name: 代码质量门禁分析

on:
  push:
    branches: [ main, dev, release/* ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          # 关键：加上这 2 行！！
          args: >
            -D sonar.projectKey=chat-on-line_chat
            -D sonar.organization=chat-on-line
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}